<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar color="primary" >

  <mat-toolbar-row>

      <button mat-icon-button>
          <mat-icon (click)="drawer.toggle()" aria-label="Example icon-button with a heart icon">dehaze</mat-icon>
      </button>
     
    <span>Passion World</span>
    <span class="example-spacer"></span>
    <i class="material-icons user-sign" (click)="openDialog()">  perm_identity</i> 

  </mat-toolbar-row>
</mat-toolbar>


<!-- sidenav -->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ol>
      <li>Home</li>
      <li>Services</li>
      <li>About</li>
      <li>Contact</li>
    </ol>
  </mat-drawer>

  <div class="example-sidenav-content">
      <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
<!--side nav ends here-->




 




