.example-container {
  width: 300px;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  /* display: flex; */
  height: 100%;
  margin-top: 3%;
  align-items: left;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color:#9494944a;
}
  
.fa-angle-double-right{
height: 10px;
width: 10px;
}